* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --text-heading1: 800 24px/135% var(--font-family);
    --text-heading2: 800 16px/140% var(--font-family);
    --text-heading3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text-paragraph: 400 14px/160% var(--font-family);

}

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text-paragraph);
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3, span {
    font: inherit;
}
img {
    max-width: 100%;
}
main {
    margin-top: 40px;
}
.content-tag {
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    color: var(--text-color-primary);
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
}